#root {
  padding: 2rem;
  text-align: center;
  background-color: rgb(219, 213, 213);
  color: rgb(235, 150, 150);
}
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 52, 80);
  color: rgb(9, 75, 3);
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
}
img{
  height: 180px;
  border-radius: 50%;  
}
.card{
  display: flex;
  width: 250px;
  margin-top: 6%;
}
.footer{
  background-color: rgb(246, 250, 250);
  width: 100%;
  height: 70px;
  font-size: 18px;
  margin-top: 6%;
  text-align: center;
  color: rgb(8, 7, 8);

}